<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Etusivu</servlet-name>
        <servlet-class>Servletit.EtusivuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kilpailija</servlet-name>
        <servlet-class>Servletit.KilpailijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KilpailijanMuokkaus</servlet-name>
        <servlet-class>Servletit.muokkaus.KilpailijanMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KilpailijanSijoittuminen</servlet-name>
        <servlet-class>Servletit.KilpailijanSijoittuminenServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Kilpailu</servlet-name>
        <servlet-class>Servletit.KilpailuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KilpailuMuokkaus</servlet-name>
        <servlet-class>Servletit.muokkaus.KilpailuMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KilpailunNimenMuokkaus</servlet-name>
        <servlet-class>Servletit.muokkaus.KilpailunNimenMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjaaTulos</servlet-name>
        <servlet-class>Servletit.muokkaus.KirjaaTulosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjauduUlos</servlet-name>
        <servlet-class>Servletit.KirjauduUlosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautuminen</servlet-name>
        <servlet-class>Servletit.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKilpailija</servlet-name>
        <servlet-class>Servletit.lisays.LisaaKilpailijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKilpailijaKilpailuun</servlet-name>
        <servlet-class>Servletit.lisays.LisaaKilpailijaKilpailuunServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKilpailijaLomake</servlet-name>
        <servlet-class>Servletit.lisays.LisaaKilpailijaLomakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKilpailu</servlet-name>
        <servlet-class>Servletit.lisays.LisaaKilpailuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKilpailuLomake</servlet-name>
        <servlet-class>Servletit.lisays.LisaaKilpailuLomakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaValiaikapiste</servlet-name>
        <servlet-class>Servletit.lisays.LisaaValiaikapisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutaKilpailijanNimea</servlet-name>
        <servlet-class>Servletit.muokkaus.MuutaKilpailijanNimeaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutaKilpailunNimea</servlet-name>
        <servlet-class>Servletit.muokkaus.MuutaKilpailunNimeaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhjaaKirjautumisSivulle</servlet-name>
        <servlet-class>Servletit.OhjaaKirjautumisSivulle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaKilpailija</servlet-name>
        <servlet-class>Servletit.poisto.PoistaKilpailijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaKilpailijaKilpailusta</servlet-name>
        <servlet-class>Servletit.poisto.PoistaKilpailijaKilpailustaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaKilpailu</servlet-name>
        <servlet-class>Servletit.poisto.PoistaKilpailuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaValiaikapiste</servlet-name>
        <servlet-class>Servletit.poisto.PoistaValiaikapisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiaikapisteServlet</servlet-name>
        <servlet-class>Servletit.ValiaikapisteServlet</servlet-class>
    </servlet>    
    
    <servlet-mapping>
        <servlet-name>Etusivu</servlet-name>
        <url-pattern>/etusivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kilpailija</servlet-name>
        <url-pattern>/kilpailija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KilpailijanMuokkaus</servlet-name>
        <url-pattern>/kilpailijanmuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KilpailijanSijoittuminen</servlet-name>
        <url-pattern>/kilpailijansijoittuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kilpailu</servlet-name>
        <url-pattern>/kilpailu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KilpailuMuokkaus</servlet-name>
        <url-pattern>/kilpailumuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KilpailunNimenMuokkaus</servlet-name>
        <url-pattern>/kilpailunnimenmuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjaaTulos</servlet-name>
        <url-pattern>/kirjaatulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjauduUlos</servlet-name>
        <url-pattern>/kirjauduulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautuminen</servlet-name>
        <url-pattern>/kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKilpailija</servlet-name>
        <url-pattern>/lisaakilpailija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKilpailijaKilpailuun</servlet-name>
        <url-pattern>/lisaakilpailijakilpailuun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKilpailijaLomake</servlet-name>
        <url-pattern>/lisaakilpailijalomake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKilpailu</servlet-name>
        <url-pattern>/lisaakilpailu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKilpailuLomake</servlet-name>
        <url-pattern>/lisaakilpailulomake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaValiaikapiste</servlet-name>
        <url-pattern>/lisaavaliaikapiste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuutaKilpailijanNimea</servlet-name>
        <url-pattern>/muutakilpailijannimea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuutaKilpailunNimea</servlet-name>
        <url-pattern>/muutakilpailunnimea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhjaaKirjautumisSivulle</servlet-name>
        <url-pattern>/ohjaaKirjautumisSivulle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaKilpailija</servlet-name>
        <url-pattern>/poistakilpailija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaKilpailijaKilpailusta</servlet-name>
        <url-pattern>/poistakilpailijakilpailusta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaKilpailu</servlet-name>
        <url-pattern>/poistakilpailu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaValiaikapiste</servlet-name>
        <url-pattern>/poistavaliaikapiste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiaikapisteServlet</servlet-name>
        <url-pattern>/valiaikapiste</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>esittelysivu.html</welcome-file>
    </welcome-file-list>
</web-app>
